<div class="container text-center">
    <div class="row">
        <div class="col border"><h2><a href="/directions">Направления</a></h2></div>
        <div class="col border"><h2><a href="/students">Студенты</a></h2></div>
        <div class="col border"><h2><a href="/groups">Группы</a></h2></div>
    </div>
    <div class="row">
        <div class="col border"><h2><a href="/disciplins">Дициплины</a></h2></div>
        <div class="col border"><h2><a href="/group-disciplins">Групповые дисциплины</a></h2></div>
    </div>
</div>