<div class="container">
    <form method="post" class="form-group">
        <input type="text" name="id_discipline" id="id_discipline">
        <input type="text" name="name_discipline" id="name_discipline">
        <input type="submit" value="Создать дисциплину">
        <a href="./" class="btn btn-primary">Назад</a>
    </form>
</div>