<div class="container">
<h1>Список дисциплин</h1>

<table class="table">
<thead>
    <tr>
        <th>#Дисциплины</th>
        <th>Название дисциплины</th>
        <th>Изменить</th>
        <th>Удалить</th>
    </tr>
</thead>
<tbody>
    {{#each disciplins}}
    <tr>
        <td>{{id_discipline}}</td>
        <td>{{discipline}}</td>
        <td><a href="/disciplins/edit/{{id_discipline}}">Изменить</a></td>
        <td><a href="/disciplins/delete/{{id_discipline}}">Удалить</a></td>
    </tr>
    {{/each}}
</tbody>
</table>
<a href="/disciplins/add" class="btn btn-primary">Добавить</a>
<a href="../" class="btn btn-primary">Назад</a>
</div>