<div class="container">
    <h1>Добавить направление подготовки</h1>
    {{#if added }}
        {{#if success}}
            <p class="alert alert-success">Поле добавлено!</p>
        {{else}}
            <p class="alert alert-danger">Такое поле уже существует!</p>
        {{/if}}
    {{/if}}
    <form method="post">
        <div class="form-group">
            <input type="number" name="direction" id="direction">
        </div>
        <div class="form-group">
            <input type="text" name="name_direction" id="name_direction">
        </div>
        <input type="submit" value="Добавить">
    </form>
</div>