<div class="container">
    <h1>Изменить данные</h1>
    <form method="post">
        <div class="form-group">
            <input type="number" name="direction" id="direction" value="{{id}}">
        </div>
        <div class="form-group">
            <input type="text" name="name_direction" id="name_direction" value="{{name_direction}}">
        </div>
        <input type="submit" value="Изменить">
    </form>
</div>