<div class="container">
    <form method="post">
        <div class="form-group">
            <input type="text" name="name" id="name">
            <input type="text" name="surname" id="surname">
            <input type="text" name="lastname" id="lastname">
        </div>
        <div class="form-group">
            <select name="gender" id="gender">
                <option value="M">Мужчина</option>
                <option value="F">Девушка</option>
            </select>
        </div>
        <div class="form-group">
            <input type="date" name="birthday" id="birthday">
        </div>
        <div class="form-group">
            <input type="date" name="get_card" id="get_card">
        </div>
        <div class="form-check">
            <input type="checkbox" name="is_head" id="is_head">
        </div>
        <div class="form-group">
            <select name="id_group" id="id_group">
                {{#if groups}}
                    {{#each groups}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                {{/if}}
            </select>
        </div>
        <input type="submit" value="Создать группу">
    </form>
</div>